<div class="dialog-container">
  <div class = "deposit-cash">

    <h2 mat-dialog-title>Locate ATM</h2>

    <mat-dialog-content>
      <a href="https://www.google.com/maps/place/Cognizant+Technology+Solutions/@33.0888545,-96.818067,17z/data=!3m1!4b1!4m6!3m5!1s0x864c3d007f2e5037:0x50f435eb26d86cf5!8m2!3d33.0888501!4d-96.8131961!16s%2Fg%2F11mf44zn58?entry=ttu&g_ep=EgoyMDI2MTAwNC4wIKXMDSoASAFQAw%3D%3D"
      target="_blank">
        <img src="images/ATM.png" alt="Map showing nearby ATM">
      </a>
    </mat-dialog-content>


    <p>8383 Dominion Pkwy, Plano, TX 75024</p>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>
        Cancel
      </button>
    </mat-dialog-actions>
  </div>
</div>
