<!-- For now it only displays the word deposit and account balance but in the future if we have more accounts we can display a account drop down list. -->
<h2 mat-dialog-title>Transfer</h2>

<mat-dialog-content>

  <p>Current Balance</p>
  <h3>{{ currentBalance() | centsIntegerToDollarString }}</h3>

  <mat-form-field appearance="outline">
    <mat-label>Transfer Amount</mat-label>
    <!--Ensure the input is a positive number of at least 1 cent-->
    <input matInput placeholder="0" min="0.01" [(ngModel)]="transferAmount" appNumericInput [decimals]="2"
      inputmode="decimal"> <span matTextPrefix>$&nbsp;</span>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Recipient</mat-label>
    <input matInput type="text" maxLength="30" minlength="5" [(ngModel)]="recipient">
  </mat-form-field>

  @if (errorMessage()) {
  <p class="error">{{ errorMessage() }}</p>
  }

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
    Cancel
  </button>

  <!--Disables the withdraw button if the transferAmount surpasses the currentBalance-->
  <button mat-raised-button [disabled]="transferCents <= 0 || transferCents > currentBalance()"
    (click)="submitTransfer()">
    Transfer
  </button>
</mat-dialog-actions>