@font-face {
  font-family: Inter;
  src: url('./Inter-VariableFont_opsz,wght.ttf');
}

.table-position {
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}

.table-rows {
  height: 192px;
  flex: 0 0 192px;
}

table.mat-mdc-table {
  width: 100%;
}

table .mat-mdc-header-row,
table .mat-mdc-row {
  height: 32px;
}

table th,
table td {
  font-family: Inter, sans-serif;
  padding: 4px 10px;
  font-size: 14px;
}

table .first-column {
  padding-right: 35px;
}

mat-paginator {
  flex: 0 0 auto;
  margin-top: 0;
  --mat-paginator-container-size: 40px;
}
